@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Freckle+Face&display=swap');

.se-esp-bg {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: white;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

/* Contenido central */
.se-esp-contenido {
  text-align: center;
  z-index: 2;
  padding: 0 1rem;
}

.se-esp-mensaje {
  font-size: clamp(2rem, 6vw, 3rem);
  text-shadow: 2px 2px 5px black;
}

.se-esp-instruccion {
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 1rem;
  text-shadow: 1px 1px 3px black;
}

/* Categoría arriba izquierda */
.se-esp-categoria {
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-size: clamp(2rem, 4vw, 1.5rem);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff700;
  text-shadow: 1px 1px 3px #000;
  z-index: 2;
}

/* Puntajes arriba derecha */
.se-esp-puntajes {
  position: absolute;
  top: 1rem;
  right: 2rem;
  text-align: right;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-family: 'Luckiest Guy', cursive;
  z-index: 2;
}

.se-esp-puntajes .se-esp-equipo {
  margin-bottom: 0.2rem;
  text-shadow: 2px 2px 3px black;
}

/* Nombre del jugador */
.se-esp-nombre-jugador {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-family: 'Freckle Face', cursive;
  font-size: clamp(2.5rem, 4vw, 3rem);
  color: white;
  text-shadow: 2px 2px 4px black;
  z-index: 1000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  max-width: 80vw;
}

/* Temporizador central */
.se-esp-temporizador {
  font-family: 'Luckiest Guy', cursive;
  font-size: clamp(2.5rem, 10vw, 4rem);
  color: #ffdd00;
  text-shadow: 3px 3px 6px #000;
  margin-top: 2rem;
  text-align: center;
}

/* Código de sala */

.se-esp-codigo {
  position: absolute;
  top: 90vh;
  left: 20%;
  transform: translateX(-50%);
  font-family: 'Luckiest Guy', cursive;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #facc15;
  text-shadow: 3px 3px 6px #000;
  z-index: 1000;
  padding: 0.5rem 1rem;
  pointer-events: none;
  animation: se-esp-rebotar 1s infinite;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

@keyframes se-esp-rebotar {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-5px);
  }
}